$primaryColor: #1B5972;
$primaryDarkColor: #004164;
$primaryLightColor: #427591;
$accentColor: #427591;
$accentDarkColor: #1B5972;
$accentLightColor: #427591;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';